body{
    background-color: #FFF5E0;
}

#contenedor{
    width: 540px;
    padding: 15px;
    margin: 10px auto;}

#img-logo{
        width: 140px;
        height: 100px;
        margin: 60px auto;
        display: flex;
        justify-content: center;
}
.mb-3{
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;

}
.btn{
    display: flex;
    justify-content: space-evenly;
    margin: 10px;
    width: 400px;
    height: 70px;
    background-color: #ffffff;
    color: #000000;
    align-items: center;
    border-color: #ffffff;
    align-items: center;

}

#encabezado{
    background-color: #ffffff;
    width: 100%;
    text-align: center;
    margin-bottom: 100px;
    font-size: 2em;
    display: flex;
    justify-content: space-evenly;
    
}
    
