body{
    background-color: #FFF5E0;
}

#contenedor{
    width: 540px;
    padding: 15px;
    margin: 10px auto;
    
}
#img-logo{
    width: 140px;
    height: 100px;
    margin: 60px auto;
    display: flex;
    justify-content: center;
}

#img-encabezado{
    width: 500px;
    height: 200px;
}

#area-trabajo{

    background-color: #141E46;
    margin-top: 100px;
}

.btn{
    display: flex;
    justify-content: space-evenly;
    margin: 10px;
    width: 400px;
    height: 70px;
    background-color: #141E46;
    color: white;
    align-items: center;

}

#ayuda{
    font-size: 3em;
    color: #141E46;
    font-weight: bold;
    display: flex;
    justify-content: center;
    margin: 30px 10px;
    
}

.boton{
    display: flex;
    justify-content: center;
    margin: 10px;
}