body{
    background-color: #FFF5E0;
}

#contenedor{
    width: 540px;
    padding: 15px;
    margin: 10px auto;
    
}

.btn{
    width: 100%;
    margin: 10px 15px 0 0;
}

#imglogo{
    width: 100%;
    height: 100px;
    margin: 10px auto;
    display: block;
}

/** CSS de vista bienvenida**/


#contenedor-bienvenida{
    padding: 60px 100px;
    border-radius: 45px;
}

#foto-bienvenida{

    width: 338px;
    height: 338px;
    border-radius: 24px;
}
#hola{
    color: #141E46;
    text-align: center;

}


footer{
    text-align: center;
    margin-top: 10px;
}

.icons{
    color: #141E46;
    margin: 10px 25px;
}




/** CSS de vista iniciar sesion**/



#contenedor-ingreso{
    background-color: #DFD7BF;
    padding: 60px 100px;
    border-radius: 45px;
}

#div-olvido{
    text-align: center;
    color: darkslategray;
}


.iniciar{
    color: #141E46;
    background-color: aqua;
   
}
.iniciar-sesion{
    color: #141E46;
    background-color: #DFD7BF;
    display: flex;
  /* justify-content: center;*/
    width: 300px;
    height: 500px;
    border-radius: 45px;
    align-items: center;
    flex-direction: column;
}



/** CSS de vista Registro**/

#contenedor-registro{
    background-color: #DFD7BF;
    padding: 60px 100px;
    border-radius: 45px;
}


/** CSS de vista ayuda**/

#img-logo-footer{
    width: 140px;
    height: 100px;
    margin: 60px auto;
    display: flex;
    justify-content: center;
}

#img-encabezado{
    width: 500px;
    height: 200px;
}

#area-trabajo{

    background-color: #141E46;
    margin-top: 100px;
}

.btn1{
    display: flex;
    justify-content: space-evenly;
    margin: 10px;
    width: 400px;
    height: 70px;
    background-color: #141E46;
    color: white;
    align-items: center;

}

#ayuda{
    font-size: 3em;
    color: #141E46;
    font-weight: bold;
    display: flex;
    justify-content: center;
    margin: 30px 10px;
    
}

.boton{
    display: flex;
    justify-content: center;
    margin: 10px;
}



/** CSS de vista preguntas frecuentes**/





.mb-3{
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;

}
.btn{
    display: flex;
    justify-content: space-evenly;
    margin: 10px;
    width: 400px;
    height: 70px;
    background-color: #ffffff;
    color: #000000;
    align-items: center;
    border-color: #ffffff;
    align-items: center;

}

#encabezado{
    background-color: #ffffff;
    width: 100%;
    text-align: center;
    margin-bottom: 100px;
    font-size: 2em;
    display: flex;
    justify-content: space-evenly;
    
}
    












