

/*.categories{
    background-color: white;
}*/
.header{
    width: 180px;
    margin: 10px auto;
    padding: 5px;

}
h2{
    width: 180px;
    margin: 10px auto;
    padding: 5px;
}
body{
    background-color:#FFF5E0;
    font-family: "Germania One", system-ui;
    font-weight: 400;
    font-style: normal;
    
}

.cotenedor-botones{
    display: flex;
    justify-content: center;
    padding: 35px;
   /* width: 550px;
    margin: auto;
    min-height: 90vh;*/
}


/*FALTA QUITAR EL BORDE DE LOS BOTONES*/

/*BOTONES*/

.btn-categ{
    background-color: #FF6969;
    border-radius: 5px;
    padding: 10px;
    color: #141E46;
    margin-right: 20px;
    font-family: "Germania One", system-ui;
    /*height: 40px;*/
}

.btn-categ:hover{
    color: #fff;
    cursor: pointer;

}


.contenedor-tarjetas{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    
    
}


.tarjeta-1{
    width: 275px;
    margin: 20px;
    border-radius: 20px;
    overflow: hidden;
    background:#fff;
    font-family: "Germania One", "system-ui";
}

footer{
    width: 386px;
    height: 99px;
    background-color: #141E46;
    position: relative;
    bottom: 0;
    border-radius: 10px;
    margin: 0 10px 10px 10px;

}
.aviso{
    color: white;
    text-align: center;
    font-size: 25px;
    margin: 35px 0;
}



